{% extends '@Admin/base.html.twig' %}

{% set pageTitle = 'Edit post ' ~ post.getTitle() %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/libs/tagsinput/tagsinput.css') }}"
{% endblock %}

{% block content %}
    <h1>Edit post "{{ post.getTitle() }}"</h1>

    {{ form(editPostForm) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/libs/tagsinput/tagsinput.js') }}"></script>
    <script>
        $(document).ready(function() {
            tinymce.init({
                selector: '.wysiwyg',
                height: 500,
            });

            $(".tagsinput").tagsinput('items')
        });
    </script>
{% endblock %}
