{% extends '@Admin/base.html.twig' %}

{% set pageTitle = 'Posts' %}

{% block content %}
    <h1>Posts</h1>

    <table class="table">
        <thead>
        <th>Name</th>
        <th>Created</th>
        <th>Visits</th>
        <th></th>
        <tbody>
        {% if postList.hasPosts() %}
            {% for post in postList.getPosts() %}
                <tr>
                    <td>{{ post.getTitle() }}</td>
                    <td>{{ post.getCreatedTime() | date('Y-m-d H:i') }}</td>
                    <td>{{ post.getPostsVisits() | number_format(0, ' ') }}</td>
                    <td>
                        <a href="{{ path('public.post-detail', {
                            slug: post.getSlug()
                        }) }}" class="btn btn-sm btn-primary">Show</a>
                        <a href="{{ path('edit-post', {
                            id: post.getId().toString()
                        }) }}" class="btn btn-sm btn-warning">Edit</a>
                        {% if post.isDeleted() %}
                            <a href="{{ path('publish-post', {
                                id: post.getId().toString()
                            }) }}" class="btn btn-sm btn-success">Publish</a>
                        {% else %}
                            <a href="{{ path('delete-post', {
                                id: post.getId().toString()
                            }) }}" class="btn btn-sm btn-danger">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No posts found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('new-post') }}" class="btn btn-success mt-3">New post</a>
{% endblock %}
