{% extends '@Admin/base.html.twig' %}

{% set pageTitle = 'Login' %}

{% block content %}
	{% if loginError %}
		<div>{{ loginError.messageKey | trans(loginError.messageData, 'security') }}</div>
	{% endif %}

	{{ form(loginForm) }}
{% endblock %}
