<ul class="pagination mt-4">
    {% if currentPage != 1 %}
        <li class="page-item">
                <a class="page-link" href="{{ path('public.post-list', {
                        page: 1
                }) }}">First</a>
        </li>
    {% endif %}

    {% for pageNumber in 1..numberOfPages %}
        <li class="page-item {% if pageNumber == currentPage %}active{% endif %}">
                <a class="page-link" href="{{ path('public.post-list', {
                        page: pageNumber
                }) }}">{{ pageNumber }}</a>
        </li>
    {% endfor %}

    {% if currentPage != numberOfPages %}
        <li class="page-item">
                <a class="page-link" href="{{ path('public.post-list', {
                        page: numberOfPages
                }) }}">Last</a>
        </li>
    {% endif %}
</ul>
