{% extends '@App/base.html.twig' %}

{% set pageTitle = 'Posts' %}

{% block content %}
    <h1>TB BLOG</h1>

    {% if postList.hasPosts() %}
        <div class="row mt-3">
            {% for post in postList.getPosts() %}
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.getTitle() }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.getCreatedTime() | date('Y-m-d H:i') }}</h6>
                            <a href="{{ path('public.post-detail', {
                                slug: post.getSlug()
                            }) }}" class="card-link">Show</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include '@App/post/_pagination.html.twig' with {
            currentPage: page,
            numberOfPages: numberOfPages
        } only %}

    {% else %}
        <p>No posts has been published yet</p>
    {% endif %}

{% endblock %}
